# Exclude releases
*.mcpack
*.mcworld
*.zip

# Exclude output files
dist
logs

# Exclude some workspace or file system files
.idea
*.ini
.bridge/
.bridge/openedFiles_*.json
.bridge/recentFiles.json
node_modules/
bin/

# Exclude assets and binaries
*.psd
*.spp
*.atn
*.smpxd
*.smpx
*.painter_lock
*.sbsar
*.mtl
*.bin
*.mdl
*.dn
*.spj
*.jpg
*.gif
*_SPEC.png
*_AO.png
*_DISP.png
*_NORM.png
*_CURVE.png
*_CAV.png
*_META.png

# Exclude targa files for MERs and normals
*_normal.tga
*_mer.tga
*_carried_mer.png
*_carried_normal.png

src/vanilla/