# Exclude releases
*.mcpack
*.mcworld
*.zip

# Exclude output files
dist
logs

# Exclude some workspace or file system files
.idea
*.ini

# Exclude assets and binaries
*.psd
*.spp
*.atn
*.smpxd
*.smpx
*.painter_lock
*.sbsar
*.mtl
*.bin
*.obj
*.glb
*.fbx
*.mdl
*.dn
*.spj
*.spt
*.jpg
*.gif
*_SPEC.png
*_AO.png
*_DISP.png
*_NORM.png
*_CURVE.png
*_CAV.png
*_META.png
*.jsx
assets/screenshots
assets/

# Exclude targa files for MERs and normals
*_normal.tga
*_mer.tga
*_carried_mer.png
*_carried_normal.png

# Exclude vendor directories
node_modules/
vendor/

# Exclude excess/duplicate textures
src/textures
src/bakery/output
src/ui

# Ignore TileMaker and ChannelMixer in bin directory
# These executables can be downloaded from http://mineways.com/
bin/TileMaker