# Exclude releases
*.mcpack
*.mcfunction
*.mcworld
*.zip

# Exclude workspace
.vscode
*.code-workspace

# Exclude assets and binaries
*.psd
*.spp
*.atn
*.smpxd
*.smpx
*.painter_lock
*.sbsar
*.mtl
*.obj
*.glb
*.fbx
*.mdl
*.spj
*.spt
*.jpg
*.gif
*_SPEC.png
*_AO.png
*_DISP.png
*_NORM.png
assets/screenshots

# Exclude scripts until later release
src/*
scripts/*